<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>EVENTS | PANORAMA | ISTE NIT Durgapur</title>
    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/heading.css">
</head>

<body>
    {{>navbar}}
    <div class="scroll">

        <p class="text-center eventtext">Events</p>
        <div class="container one">
            <div class="grid-cards">
                <div class="card">
                    <img src="img/enigma.jpg" alt="img-1" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            Enigma
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner_one()'>Read More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="img/canvas.jpg" alt="img-2" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            The Dreamers Canvas
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner_two()'>Read More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="img/spaceOdd.jpg" alt="img-3" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            Space Odyssey
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner_three()'>Read More</a>
                    </div>
                </div>
            </div>
            <div class="grid-cards">
                <div class="card">
                    <img src="img/adventure.jpg" alt="img-1" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            Adventure Alcove
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner_four()'>Read More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="img/acrostic.jpg" alt="img-2" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            Acrostic
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner_five()'>Read More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="img/checkmate.png" alt="img-3" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            Checkmate
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner_six()'>Read More</a>
                    </div>
                </div>
            </div>
            <div class="grid-cards last">
                <div class="card">
                    <img src="img/comming-soon.jpg" alt="img-3" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            Coming Soon
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner()'>Read More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="img/comming-soon.jpg" alt="img-3" title="card image">
                    <div class="card-body">
                        <h3 class="title-card">
                            Coming Soon
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="event-card-footer">
                        <a onclick='modalOpner()'>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{>modal}}
    {{>footer}}
    <script src="js/events.js"></script>
</body>

</html>