<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
  <link rel="stylesheet" href="css/timeline.css">
</head>

<body>
  {{>navbar}}
  <section class="page-section" id="about">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Timeline</h2>
        <h3 class="section-subheading text-muted">
          "Explore, Create, Connect: Panorama - A Week of Infinte Possibilities"</h3>
      </div>
      <ul class="timeline">
        <li>

          <div class="timeline-image">
            <p class="dayText text-center">Day-1</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" style="text-align: right;">Crossword</h4>
              <h4 class="subheading"><span class="date">4PM - 6PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quos iusto reiciendis beatae placeat eveniet dignissimos. Rem, corrupti accusantium magnam natus molestias sint ad, nesciunt quis suscipit nisi quia! Dolores.</p>
            </div>
            <div class="timeline-heading">
              <h4 class="title">Space Odyssey (P1)</h4>
              <h4 class="subheading"><span class="date">4PM - 6PM</span> </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">brief info</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <p class="dayText text-center">Day-2</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Space Odyssey (P2)</h4>
              <h4 class="subheading"><span class="date">4PM - 6PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
            <div class="timeline-heading">
              <h4>Gaming</h4>
              <h4 class="subheading"><span class="date">From 7PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image"><p class="dayText text-center">Day-3</p></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Adventure Aclove</h4>
              <h4 class="subheading"><span class="date">9AM - 9PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
            <div class="timeline-heading">
              <h4>Space Odyssey(P3)</h4>
              <h4 class="subheading"><span class="date">4PM - 6PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>

        <li class=timeline-inverted>
          <div class="timeline-image"><p class="dayText text-center">Day-4</p></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Space Odyssey(P4)</h4>
              <h4 class="subheading"><span class="date">4PM - 6PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
            <div class="timeline-heading">
              <h4>Speakers Event</h4>
              <h4 class="subheading"><span class="date">7PM - 8PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-image"><p class="dayText text-center">Day-5</p></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Space Odyssey(P5)</h4>
              <h4 class="subheading"><span class="date">4PM - 6PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
            <div class="timeline-heading">
              <h4>Closing of Art and Photography Submission</h4>
              <h4 class="subheading"><span class="date"><span class="date">closing 12PM</span></span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
            <div class="timeline-heading">
              <h4>Chess</h4>
              <h4 class="subheading"><span class="date"><span class="date">8PM - 10PM</span></span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>

        <li class=timeline-inverted>
          <div class="timeline-image"><p class="dayText text-center">Day-6</p></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Code Sprint</h4>
              <h4 class="subheading"><span class="date">12PM - 4 PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
            <div class="timeline-heading">
              <h4>Speakers Event</h4>
              <h4 class="subheading"><span class="date">7PM - 8PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>
        <li class=timeline-inverted>
          <div class="timeline-image"><p class="dayText text-center">Day-6</p></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Chess(Finals)</h4>
              <h4 class="subheading"><span class="date">7PM to 8PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div>
            <div class="timeline-heading">
              <h4>Results Declaration</h4>
              <h4 class="subheading"><span class="date">10PM</span></h4>
            </div>
          </div>
        </li>
        <li class="timeline">
          <div class="timeline-image">
            <a style="text-decoration:none;" href="#">
              <h4>
                The End
              </h4>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  {{>footer}}
  <!-- <script type='text/javascript' src='js/navbar.js'></script> -->
</body>

</html>