<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}

  <title> TIMELINE | PANORAMA | ISTE NIT Durgapur</title>
  <link rel="stylesheet" href="css/timeline.css">
  <link rel="stylesheet" href="css/heading.css">
</head>

<body>
  {{>navbar}}
  <section class="page-section" id="about">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Timeline</h2>
        <h3 class="section-subheading text-muted">
          "Explore, Create, Connect: Panorama - A Week of Infinte Possibilities"</h3>
      </div>
      <ul class="timeline">
        <li>

          <div class="timeline-image">
            <p class="dayText text-center">Day-1 <br> 26/06</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" >Topic release for <br> Enigma and Dreamers Canvas <br> <span
                  class="date">12:00PM</span> <br>
                <!-- <button class="btn">Register</button>  -->
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" >Acrostic<br> <span class="date">12:00PM - 12:00AM</span> <br>
                <a target="_blank" href="https://forms.gle/HYtKXMVTuVJ5GTGr8"><button class="btn"><span>Register
                    </span></button></a>
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" >Space Odyssey (P1) <br> <span class="date">4:00PM -
                  6:00PM</span> <br>
                <a target="_blank" href="https://forms.gle/Pzy4eifpnpo9z6Uj6"><button
                    class="btn"><span>Register</span></button></a>
              </h4> <br>
            </div>
            <!-- <div class="timeline-heading">
              <h4 class="title">Space Odyssey (P1)</h4> <br>
              <h4 class="subheading"><span class="date">4PM - 6PM</span> </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">brief info</p>
            </div> -->
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <p class="dayText text-center">Day-2 <br> 27/06</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" style="text-align: left;">Space Odyssey (P2) <br> <span class="date">4:00PM -
                  6:00PM</span> <br>
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" style="text-align: left;">Checkmate<br> <span class="date">8:00PM - 10:00PM</span> <br>
                <!-- <button class="btn">Register</button> -->
                <a target="_blank" href="https://forms.gle/NnHL1yp5jWQCpmdX7"><button class="btn"><span>Register
                  </span></button></a>
              </h4> <br>
            </div>

            <!-- <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div> -->
            <!-- <div class="timeline-heading">
              <h4>Gaming</h4>
              <h4 class="subheading"><span class="date">From 7PM</span></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
            </div> -->
          </div>
        </li>
        <li>
          <div class="timeline-image">
            <p class="dayText text-center">Day-3 <br> 28/06</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" >Adventure Alcove<br> <span class="date">9:00AM -
                  9:00PM</span> <br>
                <!-- <button class="btn">Register</button> -->
                <a target="_blank" href="https://forms.gle/QgbMVSzD4RFxnaKf9"><button
                    class="btn"><span>Register</span></button></a>
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" >Space Odyssey (P3)<br> <span class="date">4:00PM -
                  6:00PM</span> <br>
                <!-- <button class="btn">Register</button> -->
              </h4> <br>
            </div>
          </div>
        </li>
        <li class=timeline-inverted>
          <div class="timeline-image">
            <p class="dayText text-center">Day-4 <br> 29/06</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" style="text-align: left;">Space Odyssey (P4)<br> <span class="date">4:00PM -
                  6:00PM</span> <br>
                <!-- <button class="btn">Register</button>  -->
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" style="text-align: left;">Checkmate (finals)<br> <span class="date">7:00PM -
                  8:00PM</span> <br>
                <!-- <button class="btn">Register</button>  -->
              </h4> <br>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-image">
            <p class="dayText text-center">Day-5 <br> 30/06</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" >Space Odyssey (P5)<br> <span class="date">4:00PM -
                  6:00PM</span> <br>
                <!-- <button class="btn">Register</button> -->
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" >Closing of Enigma<br>and The Dreamers canvas Submission
                <br><span class="date">12:00PM</span> <br>
                <!-- <button class="btn">Register</button> -->
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" >Speakers session<br> <span class="date">6:00PM -
                  7:00PM</span> <br> <a href="https://jamboree.zoom.us/webinar/register/WN_T1TxmTjzTmqISRQI9HgkRw" target="_blank">
                  <button class="btn">Register</button></a> </h4> <br>
            </div>

          </div>
        </li>

        <li class=timeline-inverted>
          <div class="timeline-image">
            <p class="dayText text-center">Day-6 <br> 01/07</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" style="text-align: left;">Code Sprint<br> <span class="date">12:00PM - 4:00PM</span>
                <br>
                <!-- <a href=""> <button class="btn">Register</button></a> -->
              </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" style="text-align: left;">BGMI showdown<br> <span class="date">8:00PM - 10:00PM</span>
                <br>
                <!-- <a href=""> <button class="btn">Register</button></a> -->
              </h4> <br>
            </div>
          </div>
        </li>
        <li class=timeline>
          <div class="timeline-image">
            <p class="dayText text-center">Day-7 <br> 02/07</p>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="title" >BGMI showdown (finals) <br> <span class="date">7:00PM -
                  8:00PM</span> <br>
                   <!-- <button class="btn">Register</button> -->
                   </h4> <br>
            </div>
            <div class="timeline-heading">
              <h4 class="title" >Results Declaration<br> <span class="date">10:00PM</span>
                <br>
              </h4> <br>
            </div>
          </div>
        </li>
        <li class="timeline">

          <div class="timeline-image">
            <p class="dayText text-center">End</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  {{>footer}}
  <script src="js/timeline.js"></script>
  <!-- <script type='text/javascript' src='js/navbar.js'></script> -->
</body>

</html>