<footer>
    <div class="footer-content">
        <h3 class="footer-text">Panorama'23</h3>
        <p>"Explore, Create, Connect <br> Panorama - A Week of Infinte Possibilities"</p>
        <ul class="socials">
            <li><a href="mailto:istenitdurgapur@gmail.com"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://www.instagram.com/istenitdgp/"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://www.facebook.com/istenitdgp/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/istenitdgp/"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 ISTE NIT Durgapur. Designed by <span style="color:rgb(12, 160, 234)">webD Team</span></p>
    </div>
</footer>
<script src="js/navbar.js"></script>
<script src="js/custom.js"></script>