<style>
    /* SVG loader made by: csozi | Website: www.csozi.hu*/

    /*You dont need this "p" style*/

    .loader {
        overflow: visible;
        height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
    }

    .logo {
        fill: rgba(0, 0, 0, 0);
        display: flex;
        height: 40%;
        width: 50%;
        stroke-width: 1rem;
        position: relative;
        left: 23%;
        top: 30%;
        stroke-dasharray: 100px;
        /*<-- Play with this number until it look cool */
        stroke: #2596be;
        animation: load 3s infinite linear;
    }
    

    @keyframes load {
        0% {
            stroke-dashoffset: 50px;
        }

        100% {
            stroke-dashoffset: 500px;
            /* <-- This number should always be 10 times the number up there*/
        }
    }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="preloader"
    style=" height: 100%; width: 100%; z-index: 1000003; position: fixed;top:0;right:0; background: #0e0101fc; ">
    <center style=" height: 100%; position: relative;">
        <div class="loader">
            <!-- <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                viewBox="-1 -1 18 18">
                <path
                    d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z">
                </path>
            </svg> -->
            <!-- <svg class="logo" height="150" width="150" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
                <g>
                    <g>
                        <path
                            d="m363.9,54.2c-31.2-29.8-72.3-45.1-115.4-43-77.6,3.6-141.3,64.6-148.1,141.9-3.7,41.3 8.8,81.6 35,113.4 26.4,32.1 48,89 48,126.9 0,0-2.1,13.8 10.4,14.4h124.7c13.6-1 10.4-17 10.4-17 0-37 21.1-92.3 47.1-123.3 23.5-28 36.4-63.6 36.4-100.1-0.1-43.2-17.3-83.4-48.5-113.2zm-116.1,332.7l-24-145.9h64.5l-24,145.9h-16.5zm112.1-132.9c-28.3,33.7-50.6,91.2-51.9,132.8h-22.6l25.5-154.6c0.7-3.2-0.7-11.6-10.3-12.1h-89c-9.2,0.3-11,9-10.3,12.1l25.5,154.6h-22.7c-2.1-42.3-24.5-99.6-52.6-133.7-22.7-27.5-33.5-62.4-30.3-98.3 5.8-66.8 61-119.6 128.2-122.8 37.5-1.8 73,11.5 100,37.3 27.1,25.8 42,60.6 42,98 0.1,31.7-11.1,62.5-31.5,86.7z" />
                        <path
                            d="m319.7,433.9h-127.4c-5.8,0-10.4,4.7-10.4,10.4 0,5.8 4.7,10.4 10.4,10.4h9.7c4.1,26.1 26.7,46.2 54,46.2 27.3,0 49.9-20.1 54-46.2h9.7c5.8,0 10.4-4.7 10.4-10.4 5.68434e-14-5.7-4.6-10.4-10.4-10.4zm-63.7,46.2c-15,0-27.7-9.8-32.1-23.3h64.2c-4.4,13.5-17.1,23.3-32.1,23.3z" />
                    </g>
                </g>
            </svg> -->


            <svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320.1 380.7"
                xml:space="preserve">
                <g transform="translate(0.000000,1080.000000) scale(0.100000,-0.100000)">
                    <path style="stroke:#ef7a25;" d="M2555,10727.9c-12-125,1-233,46-368c22-66,42-146,46-177c11-112-45-298-138-451c-59-98-68-93-61,39c3,82,0,128-12,185
		c-10,43-21,77-25,77s-17-21-30-47c-32-67-98-166-165-248c-64-78-122-192-157-305c-20-63-23-98-24-215c0-120,3-151,23-215
		c58-183,153-297,317-378c50-25,164-62,190-62c4,0-12,21-34,47c-69,78-139,243-141,331c0,31,22,28,43-7c24-41,123-141,187-188
		c61-45,195-122,189-107c-3,5-21,43-41,85c-83,175-118,313-118,467c0,121,24,221,92,387c198,484,203,500,195,604
		c-11,138-50,209-175,315c-94,80-130,131-166,230c-14,38-27,70-30,73C2564,10801.9,2559,10769.9,2555,10727.9z" />
                    <path d="M2193,10501.9c-220-26-463-124-632-255c-33-26-192-187-216-219c-11-15-26-33-32-40c-7-8-13-18-13-24s-4-11-10-11
		c-5,0-10-6-10-14s-6-21-13-28c-12-13-83-154-97-193c-52-146-63-213-63-395c-1-201,12-272,83-451c80-202,166-315,318-416
		c144-95,275-245,303-346c7-24,12-118,13-217c1-196,6-213,72-252c19-11,39-28,44-38c13-24,13-120,0-288c-10-127-9-135,12-189
		c18-45,34-64,73-92l49-36l216-3l215-2l53,30c58,34,105,96,123,164c6,23,10,117,9,221c-1,99-2,185-1,192c0,6,21,23,45,37
		c64,37,69,61,70,311c1,200,2,212,25,254c31,59,117,140,224,211l88,58l-57,17c-31,9-62,14-68,12c-27-11-166-130-228-195
		c-47-50-72-87-88-129c-20-54-22-68-15-208c10-224,10-224-16-251c-40-43-69-46-396-41l-307,4l-21,26c-20,23-23,40-29,228
		c-8,228-10,235-92,361c-57,89-155,186-253,253c-127,85-226,229-291,423c-77,232-81,501-10,706c130,376,510,648,952,682l83,6l48,51
		c53,55,70,81,60,91C2405,10514.9,2283,10511.9,2193,10501.9z M2560,7432.9c0-6-68-9-187-8l-188,2l185,6c102,3,186,7,188,8
		C2559,7441.9,2560,7438.9,2560,7432.9z M2502,7150.9c-21-21-32-23-150-25c-81-1-115,1-95,6c18,5,39,14,47,21c10,8,45,11,105,9
		c50-2,93,0,97,4s10,7,13,7S2514,7162.9,2502,7150.9z" />
                    <path d="M1932,10107.9c-131-61-275-185-359-310c-55-82-69-111-105-218c-40-121-50-298-23-428c35-173,123-347,228-453
		c53-52,90-76,245-155c270-139,312-183,320-345l5-88l36,6c20,3,49,6,65,6h29l-5,84c-12,190-117,305-411,445c-96,46-139,74-181,114
		c-184,180-265,480-200,745c40,165,171,363,300,452c17,12,120,170,111,170C1986,10132.9,1961,10121.9,1932,10107.9z" />
                    <path d="M387,9537.9c-12-14-42-47-67-74c-71-77-76-84-62-89c7-2,12-10,12-17s7-15,15-19c8-3,15-12,15-21c0-8,5-15,10-15
		c6,0,10-6,10-14s5-16,10-18c17-5,24-73,9-89c-8-8-27-40-43-71s-36-58-46-61c-9-2-44,0-76,5c-79,12-103,5-111-32c-3-17-10-33-14-36
		c-5-3-9-16-9-29s-4-26-9-29s-11-18-14-33c-2-16-10-42-17-59c-24-57-9-79,72-105c40-13,80-31,90-41s19-41,23-80
		c11-107,10-110-69-135c-38-13-75-28-82-34c-36-30,10-227,63-269c22-17,28-18,71-4c51,15,101,18,117,6c6-4,25-30,43-59
		c18-28,40-57,48-63c7-7,14-29,14-49c0-31-8-43-61-93l-62-58l38-47c60-76,108-123,138-139c33-17,31-18,115,59c63,58,65,58,186-14
		l86-52v-41c0-24-7-64-17-91c-16-48-16-49,6-67c26-20,134-56,197-65c35-5,43-2,61,21c11,14,23,42,26,63c4,21,13,47,20,57
		c16,22,78,35,168,36h66l34-67c19-37,42-72,51-77c24-14,202,29,234,58c28,23,28,23,18,151l-6,90l36,17c35,17,36,19,30,60
		c-4,24-8,45-10,46c-1,2-44-13-95-33c-134-54-249-76-414-79c-124-2-144-4-175-24c-46-29-122-30-168-2c-72,44-81,149-18,207
		c31,29,43,33,91,33c46,0,59-4,89-30c19-17,37-44,41-60c6-25,12-30,52-36c64-9,215,2,293,22c57,14,220,85,259,112c12,8,9,18-13,56
		c-15,25-30,46-34,46s-21-9-38-19c-96-59-282-98-415-88c-186,15-332,79-454,202c-136,135-193,290-182,489c7,124,26,197,77,301
		c69,142,182,257,325,331l55,29v49c0,48,0,48-27,41c-58-14-195-90-271-150c-92-73-180-180-230-282l-35-71l26-31
		c80-96,19-231-105-231c-86,0-128,47-128,143c0,60,21,97,70,122c21,11,33,29,45,67c60,184,203,355,367,439l86,44l-44,41l-45,41
		l-57-24c-31-12-67-23-78-23c-27,0-124,40-124,51c0,5-7,9-15,9s-15,5-15,10C440,9571.9,409,9562.9,387,9537.9z" />
                    <path d="M835,9012.9c-29-30-29-31-12-59c21-36,22-65,1-96c-13-20-25-25-56-25c-35,0-40-4-52-32c-30-74-30-75,13-98
		c64-32,72-107,14-122c-27-7-33-13-33-36c0-15,8-40,18-57c16-26,23-29,58-27c36,3,44-1,67-32c34-43,34-59,1-89l-26-25l35-38
		c37-41,44-41,100-2c15,11,25,9,65-13c46-26,47-28,45-73l-3-45l48-15c51-15,72-8,72,25c0,24,30,39,78,39c35,0,43-4,61-35
		s23-34,53-29c60,11,74,27,70,73c-2,23,1,48,8,56c22,26,2,35-43,19c-40-15-267-37-277-28c-2,3,1,13,7,24c10,14,9,21-2,30
		c-19,16-35,4-35-26c0-19-5-25-17-22c-13,2-19,14-21,40c-3,33,1,40,28,57l31,19l-27,6c-14,4-50,31-79,60c-42,42-57,66-71,111
		c-34,119-2,240,87,331c30,30,50,59,47,68c-2,14-13,10-59-23c-68-49-137-144-119-166c6-7,10-31,8-51c-2-30-9-42-30-54
		c-25-13-31-13-55,0c-22,13-29,24-31,57c-2,31,2,45,15,55c10,7,33,43,51,80c21,42,50,82,79,107c48,43,53,72,10,64c-13-3-38,2-55,11
		C863,9046.9,869,9047.9,835,9012.9z" />
                    <path
                        d="M334,8829.9c-20-17-27-33-27-57c0-37,40-80,74-80c27,0,79,53,79,80s-52,80-79,80C370,8852.9,349,8841.9,334,8829.9z" />
                    <path
                        d="M840,8726.9c-11-12-10-18,3-32c16-15,18-15,34,0c13,14,14,20,3,32c-7,9-16,16-20,16S847,8735.9,840,8726.9z" />
                    <path
                        d="M1380,8374.9c-44-21-70-26-131-26c-75,0-75,0-65-22c23-48,149-38,233,19C1495,8398.9,1470,8417.9,1380,8374.9z" />
                    <path
                        d="M2244,7989.9c-3-8-4-52-2-98l3-84l63-3l62-3v101v100h-60C2269,8002.9,2248,7998.9,2244,7989.9z" />
                    <path
                        d="M922,7849.9c-29-30-28-62,3-92c28-29,55-32,83-7c35,29,38,67,8,96C985,7878.9,950,7879.9,922,7849.9z" />
                </g>
            </svg>

            <!-- <div style="position:absolute; top:70%; left:40%;">Panorama</div> -->




            <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1125 2436"
                style="enable-background:new 0 0 1125 2436;" xml:space="preserve">
                <image style="overflow:visible;" width="4000" height="2667" xlink:href="img/Logo_mockup16.png"
                    transform="matrix(9.448819e-02 0 0 9.448819e-02 374 1092)">
                </image>
            </svg> -->
        </div>
    </center>
</div>

<script>
    $(window).on("load", function () {
        setTimeout(function () {
            $(".preloader").fadeOut(2000, function () {
                $(this).remove();
                document.body.style.overflowX = "hidden";
            });
        }, 600);
    });

</script>