<!-- modal -->

<div class="modal modal-one">
    <svg type='button' onclick='modalOpner_one()' class="svg-icon" viewBox="0 0 20 20">
        <path
            d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z">
        </path>
    </svg>
    <div class="modal__header">
        <h3></h3>

    </div>
    <div class="modal__body">

        <img src="img/enigma.jpg" alt="">
    </div>

    <div class="modal__footer">

        <h3>Enigma</h3>
        <hr>
        <div class="details">
            <p><strong>Date:</strong></p>
            <p>26th June</p>
        </div>
        <div class="details">
            <h4>Event Description</h4>
            <p class="info">Attention all!
                Step into the spotlight and showcase your talent in the scintillating photography contest “Enigma”, a
                part of the incredible Panorama by ISTE NIT Durgapur Chapter. Capture the essence of your city in a
                whole new light and let the world see your perspective. Whether it's an unconventional angle, an
                unexpected composition, or a hidden gem waiting to be discovered, show us your out-of-the-box vision
                through your captivating photographs, presenting your city in a way never seen before. Get ready to
                unravel the mysteries of photography with the following details:<br><br>

                Theme: "Unveiling the Hidden Gems: Rediscover Your City through Your Unique Lens"
                Submission Period: 5 Days (26.06.23 – 30.06.23)<br><br>

                Rules, Regulations, and other general guidelines:<br>
                1. Participants must follow our official pages at<br>
                Instagram- <a target="_blank"
                    href="https://www.instagram.com/istenitdgp/">https://www.instagram.com/istenitdgp/</a><br>
                Facebook- <a target="_blank"
                    href="https://www.facebook.com/istenitdgp/">https://www.facebook.com/istenitdgp/</a> <br>
                LinkedIn- <a
                    href="https://www.linkedin.com/company/istenitdgp/">https://www.linkedin.com/company/istenitdgp/</a>
                <br><br>
                2. All photographs must adhere to the theme. Offensive, explicit, or inappropriate content will result
                in immediate disqualification.<br>
                3. Plagiarized or copyrighted images are strictly prohibited.<br>
                4. Images must be in JPG/JPEG/PNG format. Max. file size should not exceed 10MB.<br>
                5. Only one entry per head is permitted. In case of multiple entries, only the first submission will be
                considered.<br>
                6. Entries must be submitted within the specified deadline. Late submissions will not be considered.<br>
                7. All decisions made by judges will be final and binding.<br>
                8. Entries will be uploaded on our Instagram page <a
                    href="https://instagram.com/panorama.istenitdgp">https://instagram.com/panorama.istenitdgp</a> for
                public
                voting. The voting period will be till 2nd July 12:00 PM.<br>
                9. As a result of each engagement, the following points will be awarded, and we will only consider
                points for both participants and viewers who follow our Instagram handle:<br>
                +2 for each ‘Like’<br>
                +2 for each ‘Share’<br>
                +5 for each meaningful ‘Comment’<br> <br>

                Your city holds countless secrets and breathtaking vistas. It's time to bring them to life through your
                lens and inspire others with your artistry. Submit your captivating entries at
                and let the enigma of your city.
            </p>
        </div>
        <div class="details">
            <a target="_blank" href="https://forms.gle/7naAGFeRP1HbmRMu5"><button class="btn"><span>Registration
                        Link</span></button></a>
        </div>
    </div>
</div>

<div class="modal modal-two">
    <svg type='button' onclick='modalOpner_two()' class="svg-icon" viewBox="0 0 20 20">
        <path
            d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z">
        </path>
    </svg>
    <div class="modal__header">
        <h3></h3>

    </div>
    <div class="modal__body">

        <img src='img/canvas.jpg' />
    </div>

    <div class="modal__footer">

        <h3>The Dreamers Canvas</h3>
        <hr>
        <div class="details">
            <p><strong>Date:</strong></p>
            <p>26th June</p>
        </div>
        <div class="details">
            <h4>Event Description : </h4>
            <p class="info">
                Within the vast realm of human imagination lies a thread that has long fascinated artists - the
                interplay between dreams and nightmares. It is time to delve into the depths of the mind, unveiling the
                tapestry of our nocturnal visions and fears. Capture the essence of these reveries in vivid colours,
                fluid brushstrokes, and delicate compositions through your art.<br> <br>

                Showcase your love for creation in our event “The Dreamer’s Canvas”, organised by ISTE Students’ Chapter
                NIT Durgapur as part of our fest Panorama. <br>

                Theme: <strong>Dreams and Nightmares</strong> <br>
                Submission Period: 5 days <br>
                <strong>[26.06.2023 - 30.06.23]</strong> <br> <br>

                Rules and Guidelines: <br> <br>
                1. Participants must follow our official pages at <br>
                Instagram: <a target="_blank"
                    href="https://www.instagram.com/istenitdgp/">https://www.instagram.com/istenitdgp/</a>
                <br>
                Facebook: <a target="_blank"
                    href="https://www.facebook.com/istenitdgp/">https://www.facebook.com/istenitdgp/</a> <br>
                LinkedIn: <a
                    href="https://www.linkedin.com/company/istenitdgp/">https://www.linkedin.com/company/istenitdgp/</a>
                <br> <br>
                2. Both Traditional and Digital art is accepted. <br>
                3. All submissions must adhere to the theme. Offensive, explicit, or inappropriate content will result
                in immediate disqualification. <br>
                4. Plagiarism is strictly prohibited. <br>
                5. Only one entry per head is permitted. In case of multiple entries, only the first submission will be
                considered. <br>
                6. Entries must be submitted within the specified deadline. Late submissions will not be considered.
                <br>
                7. All decisions made by judges will be final and binding. <br>
                8. Entries will be uploaded on our Instagram handle <a
                    href="https://instagram.com/panorama.istenitdgp">https://instagram.com/panorama.istenitdgp</a> for
                public
                voting. The voting period will be till 2nd July 12:00 P.M. <br>
                9. As a result of each engagement, the following points will be awarded, and we will only consider
                points for both participants and viewers who follow our Instagram handle: <br>
                +2 for each ‘Like’ <br>
                +5 for each meaningful ‘Comment’ <br>
                +2 for each ‘Share’ <br> <br>

                Let your art dance between the boundaries of the known and the unknown, and your canvas invite viewers
                to embrace the unseen. Submit your entries
                and dive into the depths of your imagination and create a
                captivating masterpiece that captures the essence of these ethereal experiences.
            </p>
        </div>
        <div class="details">
            <a target="_blank" href="https://forms.gle/YDeFeXRfiijZizGF7"><button class="btn"><span>Registration
                        Link</span></button></a>
        </div>
    </div>
</div>

<div class="modal modal-three">
    <svg type='button' onclick='modalOpner_three()' class="svg-icon" viewBox="0 0 20 20">
        <path
            d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z">
        </path>
    </svg>
    <div class="modal__header">
        <h3></h3>

    </div>
    <div class="modal__body">

        <img src='img/spaceOdd.jpg' />
    </div>

    <div class="modal__footer">

        <h3>SPACE ODYSSEY</h3>
        <hr>
        <div class="details">
            <p><strong>Date:</strong></p>
            <p>26th June</p>
        </div>
        <div class="details">
            <h4>Event Description : </h4>
            <p class="info">
                How often do you stare at the distant horizon? The stars twinkling, illuminating the night sky as your
                mind falls in a trance trying to count many of those unknown dazzling objects above you. Well, brace
                yourself on this journey into the cosmos as ISTE presents to you SPACE ODYSSEY but with a little twist.
                <br> <br>
                Here are some pointers guiding you to this exciting voyage: <br>
                > Make sure to follow our <br>
                LinkedIn <a
                    href="https://www.linkedin.com/company/istenitdgp/">https://www.linkedin.com/company/istenitdgp/</a>
                <br>
                Instagram <a target="_blank"
                    href="https://www.instagram.com/istenitdgp/">https://www.instagram.com/istenitdgp/</a> <br>
                Facebook <a target="_blank"
                    href="https://www.facebook.com/istenitdgp/">https://www.facebook.com/istenitdgp/</a> <br>
                <br>
                > The questions will solely revolve around space and the heavenly bodies but in the form of codes. <br>
                > You need not have prior in depth knowledge about coding but just basics about how the program works.
                <br>
                > We will be releasing one question per day for a period of 5 days <br>
                > The time limit for attempting them is 1 hour between 4 p.m to 6 p.m <br> <br>

                Last but not the least, it's the reward you have been aiming for because winners do receive exciting
                prizes and goodies! <br>
                So, why not put your knowledge at work and unveil the reward which you deserve? <br>
                Register Now!

            </p>
        </div>
        <div class="details">
            <a target="_blank" href="https://forms.gle/Pzy4eifpnpo9z6Uj6"><button class="btn"><span>Registration
                        Link</span></button></a>
        </div>
    </div>
</div>

<div class="modal modal-four">
    <svg type='button' onclick='modalOpner_four()' class="svg-icon" viewBox="0 0 20 20">
        <path
            d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z">
        </path>
    </svg>
    <div class="modal__header">
        <h3></h3>

    </div>
    <div class="modal__body">
        <img src='img/adventure.jpg' />
    </div>

    <div class="modal__footer">

        <h3>Adventure Alcove</h3>
        <hr>
        <div class="details">
            <p><strong>Date:</strong></p>
            <p>28th June | 9:00 AM - 9:00 PM</p>
        </div>
        <div class="details">
            <h4>Event Description : </h4>
            <p class="info">
                Are you ready to unlock the Mysteries, embrace the Thrills, and unleash your inner Adventurer? Then get
                ready to unlock an intriguing experience with Adventure Alcove - a part of Panorama 2023 by the ISTE
                Students' Chapter NIT Durgapur. Embark on a thrilling odyssey through levels of adventure, where the
                right answers hold the power to unlock the hidden treasure, outsmart your rivals, and claim victory with
                a touch of brilliance. <br> <br>
                Get your boots on, wear your hat and be ready for the ultimate spirit-captivating adventure on: <br>
                Date : <strong>28 June</strong> <br> <br>

                Rules, and general guidelines: <br>
                1. Participants must follow our official pages at <br>
                LinkedIn <a
                    href="https://www.linkedin.com/company/istenitdgp/">https://www.linkedin.com/company/istenitdgp/</a>
                <br>
                Instagram <a target="_blank"
                    href="https://www.instagram.com/istenitdgp/">https://www.instagram.com/istenitdgp/</a> <br>
                Facebook <a target="_blank"
                    href="https://www.instagram.com/istenitdgp/">https://www.instagram.com/istenitdgp/</a> <br>
                <br>
                2. All participants must adhere to sportsman spirit, and not indulge in any unfair means to win the
                adventure. <br>
                3. Cyber-based attacks such as DDoS, Script Injection and breaking into the servers are prohibited. <br>
                4. Do not press F12 or open Developer Tools during the game, it will lead to disqualification, and the
                game will end then and there. <br>
                5. Only one participation per person is allowed. Using multiple accounts to play the game is a violation
                of these terms. <br>
                6. All decisions made by judges will be final and binding. <br>
                7. Tip: Keep your curiosity up always and do not use ChatGPT :) <br> <br>

                Remember, every puzzle holds the key to an unforgettable experience - while the prizes await you
            </p>
        </div>
        <div class="details">
            <a target="_blank" href="https://forms.gle/QgbMVSzD4RFxnaKf9"><button class="btn"><span>Registration
                        Link</span></button></a>
        </div>
    </div>
</div>
<div class="modal modal-five">
    <svg type='button' onclick='modalOpner_five()' class="svg-icon" viewBox="0 0 20 20">
        <path
            d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z">
        </path>
    </svg>
    <div class="modal__header">
        <h3></h3>

    </div>
    <div class="modal__body">
        <img src='img/acrostic.jpg' />
    </div>

    <div class="modal__footer">

        <h3>Acrostic: The Ultimate Crossword Challenge</h3>
        <hr>
        <div class="details">
            <p><strong>Date:</strong></p>
            <p>26th June | 12:00 PM - 12:00 AM</p>
        </div>
        <div class="details">
            <h4>Event Description : </h4>
            <p class="info">
                Sharpen your wits and embark on an exciting journey of wordplay and brain-teasing challenges. Are you
                ready to show off your crossword-solving skills? Then, join Panorama’s thrilling “Acrostic: The Ultimate
                Crossword Challenge”. Here's what you need to know: <br> <br>

                Round 1:<strong>Solve & Survive | 26 JUNE (12:00 p.m - 6:00 p.m) </strong> <br> <br>
                Get ready for an adrenaline-pumping experience in the first round of Acrostic. Race against the clock to
                crack mind-boggling clues and fill the crossword grid. Only the fastest and most accurate solvers will
                move on to the grand finale! <br> <br>

                Final Round: <strong>Battle of the Crossword Titans | 26 JUNE (6 p.m to 12 a.m)</strong> <br>
                In the nail-biting final round, the crossword elite will battle it out for the ultimate glory. Expect
                mind-bending puzzles, tricky wordplay, and an intense showdown of intellects regarding apps and gadgets.
                Will you emerge as the true Acrostic champion? <br> <br>

                Don't miss your chance to conquer the crossword universe and claim your rightful place among the top
                solvers. Register now and unlock the secrets hidden within the puzzle!
            </p>
        </div>
        <div class="details">
            <a target="_blank" href="https://forms.gle/HYtKXMVTuVJ5GTGr8"><button class="btn"><span>Registration
                        Link</span></button></a>
        </div>
    </div>
</div>
<div class="modal modal-six">
    <svg type='button' onclick='modalOpner_six()' class="svg-icon" viewBox="0 0 20 20">
        <path
            d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z">
        </path>
    </svg>
    <div class="modal__header">
        <h3></h3>

    </div>
    <div class="modal__body">
        <img src='img/checkmate.png' />
    </div>

    <div class="modal__footer">

        <h3>Checkmate</h3>
        <hr>
        <div class="details">
            <p>Elimination - 27th June | 8:00 PM - 10:00 PM <br> Finals - 29th June | 7:00PM - 8:00PM</p>
        </div>
        <div class="details">
            <h4>Event Description : </h4>
            <p class="info">
                "Checkmate! The King has fallen!" <br> <br>
                With every step, you must be aware of the consequences you have to face, your soldiers who will fall and
                your kingdom which might cease to exist. <br> <br>

                Let us put your gyri and sulci to test as they unify to strategize against the kingdom who has attacked
                you through CHECKMATE presented by ISTE Students Chapter NIT Durgapur. Unleash the warrior within you
                through a battle of chess as you calculate every move thoroughly trying to diminish the pawns standing
                against you. <br> <br>

                Date: Elimination: 27th June <br>
                Finals: 29th June <br> <br>

                However, just like every battle, there are some rules and regulations you must abide with!
                1) Make sure to follow our social media handles <br>
                LinkedIn  <a href="https://www.linkedin.com/company/istenitdgp/">https://www.linkedin.com/company/istenitdgp/</a> <br>
                Instagram <a href="https://www.instagram.com/istenitdgp/">https://www.instagram.com/istenitdgp/</a> <br>
                Facebook <a href="https://www.facebook.com/istenitdgp/">https://www.facebook.com/istenitdgp/</a> <br> <br>
                2) Registration is completely free of cost! <br>
                3) Do not resort to unfair means. Using computer based players is strictly prohibited. Such acts will
                lead to disqualification. <br> <br>

                And just how it's been down the history, the victorious ruler is awarded with gifts and goodies. So why
                miss out the chance to test your skills as you overthrow your enemy by sheer brain power?
                Register now! <br>
            </p>
        </div>
        <div class="details">
            <a target="_blank" href="https://forms.gle/NnHL1yp5jWQCpmdX7"><button class="btn"><span>Registration
                        Link</span></button></a>
        </div>
    </div>
</div>



<script>
    function modalOpner_one() {
        document.querySelector('.modal-one').classList.toggle('open')
    }
    function modalOpner_two() {
        document.querySelector('.modal-two').classList.toggle('open')
    }
    function modalOpner_three() {
        document.querySelector('.modal-three').classList.toggle('open')
    }
    function modalOpner_four() {
        document.querySelector('.modal-four').classList.toggle('open')
    }
    function modalOpner_five() {
        document.querySelector('.modal-five').classList.toggle('open')
    }
    function modalOpner_six() {
        document.querySelector('.modal-six').classList.toggle('open')
    }
    function modalOpner_seven() {
        document.querySelector('.modal-seven').classList.toggle('open')
    }
    function modalOpner_eight() {
        document.querySelector('.modal-eight').classList.toggle('open')
    }
</script>