<a class="main-logo" href=""><img class="" src="img/logoPano.png" alt="logo"></a>


<div class="nav-container">
    <div class="bars"></div>
</div>
<nav>
    <a class="cd-logo" href=""><img class="" src="img/logoPano.png" alt="logo"></a>
    <br><br><br>
    <div class="close">
        <div></div>
    </div>
    <ul style="padding-inline-start: 0px !important;" class="text-center navB">
        <li><a href="/">Home</a></li>
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/events">Events</a></li>
    </ul>
</nav>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
