<div class="cards">
    <div class="card" active>
        <img src="img/enigma.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Enigma</h3>
        </div>
    </div>

    <div class="card">
        <img src="img/canvas.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Canvas</h3>
        </div>
    </div>
    <div class="card">
        <img src="img/spaceOdd.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Space Odyssey</h3>
        </div>
    </div>
    <div class="card">
        <img src="img/adventure.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Adventure Aclove</h3>
        </div>
    </div>
    <div class="card">
        <img src="img/acrostic.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Acrostic</h3>
        </div>
    </div>

    <div class="card">
        <img src="img/comming-soon.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Event</h3>
        </div>
    </div>

    <div class="card">
        <img src="img/comming-soon.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Event</h3>
        </div>
    </div>

    <div class="card">
        <img src="img/comming-soon.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name">Event</h3>
        </div>
    </div>
</div>