<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="img/sponser.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="img/spondemo2.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="img/sponser.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="img/sponser.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="img/sponser.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="img/sponser.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="img/sponser.png" height="100" width="250" alt="" />
        </div>
    </div>
</div>