<div class="cards">
    <div class="card" active>
        <img src="img/enigma.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>

    <div class="card">
        <img src="img/canvas.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>
    <div class="card">
        <img src="img/spaceOdd.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>
    <div class="card">
        <img src="img/adventure.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>
    <div class="card">
        <img src="img/acrostic.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>

    <div class="card">
        <img src="img/checkmate.png" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>

    <div class="card">
        <img src="img/comming-soon.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>

    <div class="card">
        <img src="img/comming-soon.jpg" alt="" class="card__image">
        <div class="card__infos">
            <h3 class="card__name"></h3>
        </div>
    </div>
</div>