@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@font-face {
  font-family: "bartkey";
  src: url(../fonts/BARTKEY.ttf);
  src: url(../fonts/BARTKEY.otf);
}

.text {
  /* font-weight: 100; */
  /* font-size: 50px; */
  color: #e6e0e3;
}

.trailertext{
  mix-blend-mode: exclusion;
  font-family: bartkey;
}

.abouttext {
  font-size: 3rem;
  /* background-color: red; */
  /* mix-blend-mode: exclusion; */
  color: #ef7a25;
  font-family: bartkey;
}

.eventtext {
  width: 100%;
  font-size: 3rem;
  margin-top: 5rem;
  color: #ef7a25;
  text-shadow: .1em .1em 0 hsl(0, 0%, 0%);
  font-family: bartkey;
}

.insightstext {
  font-size: 3rem !important;
  mix-blend-mode: exclusion;
  font-family: bartkey;
}

.sponsertext {
  margin-top: 4rem;
  font-size: 3rem;
  mix-blend-mode: exclusion;
  font-family: bartkey;
}

.dud {
  color: #f4f7fa;
}


@media (min-width: 768px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
    /* background-color: red; */
  }

  .trailertext{
    font-size: 5rem;
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }
}

@media (min-width: 992px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
    /* background-color: red; */
  }

  .trailertext{
    font-size: 5rem;
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }
}

@media (min-width: 1200px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
  }

  .trailertext{
    font-size: 5rem;
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }
}


@media (min-width: 768px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
  }

  .trailertext{
    font-size: 5rem;
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }
}

@media (min-width: 1400px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
  }

  .trailertext{
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }

}

@media (min-width: 1200px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
  }

  .trailertext{
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }


}

@media (min-width: 992px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
  }

  .trailertext{
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }

}

@media (min-width: 768px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
  }

  .trailertext{
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }

}

@media (min-width: 576px) {
  .abouttext {
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }
  .eventtext {
    font-size: 5rem;
  }

  .trailertext{
    font-size: 5rem;
    /* background-color: red; */
    mix-blend-mode: exclusion;
  }

  .insightstext {
    font-size: 5rem !important;
    mix-blend-mode: exclusion;
  }

  .sponsertext {
    margin-top: 3rem;
    font-size: 4rem;
    mix-blend-mode: exclusion;
  }

}