/*------------------------------------------------------------
# Global classes
------------------------------------------------------------*/

@font-face {
    font-family: "bartkey";
    src: url(../fonts/BARTKEY.ttf);
    src: url(../fonts/BARTKEY.otf);
    font-weight: 400;
}

.flex {
    display: flex;
}

.panoHeader {
    position: relative;
    width: 100%;
    top: -20%;
    height: auto;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: hsl(0, 0%, 90%);
    background-color: #040d13;
}

.d-col-n {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

#logo {
    width: 25%;
    height: auto;
}

#panorama {
    position: relative;
    z-index: 100;
    top: 2rem;
    font-family: bartkey;
}

.setdate {
    font-family: bartkey;
    position: relative;
    z-index: 100;
    letter-spacing: 0.1rem;
    text-shadow: .3em .3em 0 hsl(0, 0%, 0%);
}

#head {
    background-attachment: fixed;
}


.hero-content {
    padding: 150px 0;
    background-size: cover;
}

.hero-content .entry-header {
    position: relative;
    text-align: center;
}

.hero-content .entry-header p {
    padding-top: 80px;
    margin: 0;
    font-family: mountains;
    width: 100%;
    font-size: 400%;
    color: #ef7a25;
    text-shadow: .1em .1em 0 hsl(0, 0%, 0%);
    z-index: 100;
}

.hero-content .entry-header .entry-meta-date {
    position: absolute;
    width: 100%;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: hsl(0, 0%, 90%);
    text-align: center;

}

@media screen and (min-width: 992px) {
    .hero-content .entry-header h2 {
        font-size: 8rem;
    }

    .hero-content .entry-header .entry-meta-date {
        top: 40px;
    }
}

/* video */
video {
    margin-top: 3rem;
    text-align: center;
    width: 100% ;
    height: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    video {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    video {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    video {
        width: 75%;
    }
}

hr{
    background-color: white;
}


/*------------------------------------------------------------
## countdown
------------------------------------------------------------*/
.countdown {
    margin-top: 200px;
}

.countdown-holder {
    min-width: 80px;
    margin-bottom: 30px;
}

.countdown-holder .dday,
.countdown-holder .dhour,
.countdown-holder .dmin,
.countdown-holder .dsec {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    color: hsl(0, 0%, 100%);
}

.countdown-holder label {
    display: block;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

/*------------------------------------------------------------
## hero-content entry-footer
------------------------------------------------------------*/
.hero-content .entry-footer {
    margin-top: 100px;
    text-align: center;
    z-index: 10000;
}

.hero-content .entry-footer .btn {
    background: hsl(0, 0%, 100%);
    padding: 16px 40px;
    border-radius: 0;
    margin-right: 20px;
    color: hsl(0, 0%, 17%);
    font-weight: 600;

}

.hero-content .entry-footer a:hover,
.hero-content .entry-footer .current {
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## About Scetion
------------------------------------------------------------*/

.about {
    /* animation-name: bottomFill;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s; */
    top:-25%;
    background-color: #040d13;
    z-index: 100;
    position: relative;
    padding: 2rem 1rem 5rem 1rem;
}


.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;

}

h1 {
    font-family: mountains;
    letter-spacing: 3px;
    font-size: 200% !important;
}


h2 {
    font-family: mountains;
    letter-spacing: 3px;
    color: aliceblue;
    /* overflow-y: hidden; */
}

/*------------------------------------------------------------
# homepage-next-events
------------------------------------------------------------*/
.home-events {
    position: relative;
    z-index: 100;
    top:-5%;
    padding: 0rem 1rem;
    background-color: #040d13;
    /* animation-name: bottomFill;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s; */
}

.home-events .entry-title p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 48%);
}

@keyframes bottomFill {
    0% {
        background: #0D141E;
    }

    4% {
        background: #101522;
    }

    8% {
        background: #121726;
    }

    12% {
        background: #141829;
    }

    16% {
        background: #1C1E3C;
    }

    20% {
        background: #22214F;
    }

    24% {
        background: #262262;
    }

    28% {
        background: #1D4065;
    }

    32% {
        background: #125768;
    }

    36% {
        background: #1E4553;
    }

    40% {
        background: #1E404E;
    }

    44% {
        background: #1E3B49;
    }

    48% {
        background: #1D3643;
    }

    52% {
        background: #1C313E;
    }

    56% {
        background: #1C3344;
    }

    60% {
        background: #1C3449;
    }

    64% {
        background: #1B344F;
    }

    68% {
        background: #183454;
    }

    72% {
        background: #242B4A;
    }

    76% {
        background: #2B2241;
    }

    80% {
        background: #24203C;
    }

    84% {
        background: #1D1D37;
    }

    88% {
        background: #151A32;
    }

    92% {
        background: #14192C;
    }

    96% {
        background: #111725;
    }

    100% {
        background: #0D141E;
    }
}


a:hover {
    text-decoration: none;
    color: inherit;
    /* Inherit the color from the parent element */
    cursor: pointer;
    /* Change the cursor to a pointer */
}

/*------------------------------------------------------------
## .next-event-slider
------------------------------------------------------------*/
.next-event-slider-wrap {
    position: relative;
    z-index: 100;
}

.next-event-slider {
    margin-top: 110px;
    z-index: 100;
}

.next-event-slider .featured-image {
    display: block;
    margin: 0;
    position: relative;
}

.next-event-slider .featured-image img {
    display: block;
    width: 100%;
}

.next-event-slider .entry-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    text-decoration: none;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    position: relative;

}

.next-event-slider .featured-image:hover .entry-content {
    opacity: 1;
    visibility: visible;
}


.next-event-slider-wrap .swiper-button-next {
    top: auto;
    bottom: -8px;
    right: auto;
    left: 50%;
    width: 42px;
    height: 42px;
    margin-left: -21px;
    background: transparent;
    margin-top: 4px;
}

.next-event-slider-wrap .swiper-button-next img {
    width: 100%;
    margin-top: 30%;
}

@media screen and (min-width: 768px) {
    .next-event-slider-wrap .swiper-button-next {
        bottom: -42px;
        width: 84px;
        height: 84px;
        margin-left: -42px;
    }
}


/*------------------------------------------------------------
# the-complete-lineup
------------------------------------------------------------*/
.the-complete-lineup {
    margin-top: 115px;
    position: relative;
    z-index: 100;
}

.the-complete-lineup .entry-title p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 48%);
}

.the-complete-lineup .entry-title h2 {
    width: 100%;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## the-complete-lineup-artists
------------------------------------------------------------*/
.the-complete-lineup-artists {
    position: relative;
    margin-top: 110px;
    height: auto;
}

.the-complete-lineup-artists .artist-single {
    margin-bottom: 0px;
}

.the-complete-lineup-artists .artist-single:nth-of-type(even) {
    margin-top: 120px;
}

.the-complete-lineup-artists .artist-single figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

.the-complete-lineup-artists .artist-single .box-link {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 15px;
    left: 232px;
    cursor: pointer;
}

.the-complete-lineup-artists .artist-single .featured-image img {
    max-width: 100%;
    height: auto;
    width: 255px;
}

.the-complete-lineup-artists .artist-single .featured-image a {
    display: block;
}

.the-complete-lineup-artists .artist-single h2 {
    margin-top: 38px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .the-complete-lineup-artists .artist-single:nth-child(6) {
        margin-top: 0;
    }
}


@media screen and (min-width: 1200px) {
    .the-complete-lineup-artists .artist-single:nth-child(1) {
        margin-top: 2px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(2) {
        margin-top: 90px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(3) {
        margin-top: 48px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(4) {
        margin-top: 0;
    }

    .the-complete-lineup-artists .artist-single:nth-child(5) {
        margin-top: 75px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(6) {
        margin-top: 165px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(7) {
        margin-top: 25px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(8) {
        margin-top: 75px;
    }
}

/*------------------------------------------------------------
# see the-complete-lineup button
------------------------------------------------------------*/
.see-complete-lineup {
    margin-top: 105px
}

.see-complete-lineup .entry-footer .btn {
    padding: 15px 35px;
    border-radius: 0;
    margin-right: 20px;
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    font-weight: 500;
}

.see-complete-lineup .entry-footer a {
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}


/*------------------------------------------------------------
# site-footer
------------------------------------------------------------*/
.site-footer {
    /* margin-top: 150px; */
    position: relative;
    padding: 40px 0 30px;
    background-size: cover;
    position: relative;
    z-index: 20;
}

.site-footer::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    z-index: 3;
    background: hsla(0, 0%, 5%, 0.7);
    top: 0;
    left: 0;
}

.site-footer .footer-cover-title {
    min-height: 480px;
    width: 100%;
}

.site-footer .footer-cover-title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    mix-blend-mode: overlay;
    z-index: 2;
}

/*------------------------------------------------------------
## .site-footer footer-content-wrapper
------------------------------------------------------------*/
.footer-content-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;
    top: 130px;
    left: 0;
    padding: 6px 0;
    text-align: center;
}

.footer-content-wrapper .flex {
    flex-direction: column;
}

.footer-content-wrapper .entry-title {
    text-align: center;
    margin-top: 25px;
}

.footer-content-wrapper .entry-title a {
    font-size: 52px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    line-height: 1;
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    .footer-content-wrapper .entry-title a {
        font-size: 100px;
    }
}

.col {
    padding: none !important;
}

.footer-content-wrapper .entry-mail {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .entry-mail a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .copyright-info {
    margin-top: 20px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .footer-social {
    margin-top: 32px;
}

.footer-content-wrapper .footer-social .flex {
    flex-direction: row !important;
}

.footer-content-wrapper .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-content-wrapper .footer-social ul a {
    padding: 5px 16px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.footer-text {
    font-size: 20rem;
}

@media screen and (min-width: 1024px) and (max-height: 1310px) {

    .countdown-holder .dday,
    .countdown-holder .dhour,
    .countdown-holder .dmin,
    .countdown-holder .dsec {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
        color: hsl(0, 0%, 100%);
    }

    .setdate {
        letter-spacing: 0.6rem;
    }

    .countdown-holder label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: hsl(0, 0%, 100%);
    }

    .about{
        top:-13.5%;
        border-top:1px solid white;
        border-radius: 0.7rem;
    }

    .home-events {
        top:-20%;
    }

    .fontSize{
        font-size: 1.15rem !important;
    }

}